html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 860px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 920px;
  }
}

a {
	color: #0145aa;
	text-decoration: none;
}

a:hover {
	color: #aa0000;
	text-decoration: underline;
}

.navbar {
  margin-bottom: 10px;
}

.navbar-default {
  border: none;
  background-color: inherit;
}

.navbar-brand {
  padding: 13px 15px 13px 15px;
}

.navbar-brand a {
	text-decoration: none;
}

.navbar-default .navbar-brand img {
  height: 24px;
}

.navbar-default .navbar-brand small {
  font-size: 0.7em;
  padding-left: 1em;
}

@media (max-width: 992px) {
  .navbar-default .navbar-brand small {
    display: none;
  }
}

.navbar-nav > li > a {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > li > a {
	color: #0145aa;
  font-weight: 600;
}

.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #a00;
}

.content {
  margin-bottom: 1em;
}

.content p,
.content td,
.content th,
.content li {
  line-height: 1.8;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6
{
  font-family: 'Roboto', sans;
  font-weight: 300;
  margin-bottom: 0.7em;
}

.content h2 {
  font-size: 26px;
}

.content h3 {
  font-size: 18px;
}

.login-block {
    display: inline-block;
    width: 100px;
    height: 60px;
    border: solid 2px #eee;
}

.login-block:hover,
.login-block.active {
    border-color: #8e99aa;
}

.login-block span {
    display: none;
}

.login-google {
    background: url(/static/login/google.png) 50% 50% no-repeat;
}

.login-yahoo {
    background: url(/static/login/yahoo.png) 50% 50% no-repeat;
}

.login-musicbrainz {
    background: url(/static/login/musicbrainz.png) 50% 50% no-repeat;
}

.login-openid {
    background: url(/static/login/openid.png) 50% 50% no-repeat;
}

.chart {
  height: 250px;
}

.indented {
  padding-left: 2em !important;
}

.narrow {
  width: 10em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  font-size: 90%;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.footer p {
  margin: 10px 0;
}

.footer p:first-child {
  margin-top: 15px;
}

.footer p:last-child {
  margin-bottom: 15px;
}

.maintenance-header {
  font-size: 14px;
  background-color: #ffdfd7;
  font-weight: bold;
}

.donate-header {
  font-size: 14px;
  background-color: #ffefd7;
  font-weight: bold;
}

.maintenance-header p,
.donate-header p,
.donate-header form {
  margin: 10px 0;
}

.list-nopadding {
  padding-left: 1.5em;
}

.mbid-disabled td {
    text-decoration: line-through;
    opacity: 0.5;
}
