{% extends "_base.html" %}
{% block content %}

<h2>Application "{{ app.name }}"</h2>

<h3>Details</h3>

<ul>
  <li><b>API key:</b> <code>{{ app.apikey }}</code></li>
  <li><b>Version:</b> {{ app.version }}</li>
  <li><b>Email:</b> {% if app.email %}<a href="mailto:{{ app.email }}">{{ app.email }}</a>{% else %}none{% endif %}</li>
  <li><b>Website:</b> {% if app.website %}<a href="{{ app.website }}">{{ app.website }}</a>{% else %}none{% endif %}</li>
</ul>

<p>
  <a class="btn btn-default" href="{{ url_for('.edit_application', application_id=app.id) }}">Edit details</a>
</p>

{% if lookups %}
<h3>Searches during the last 30 days</h3>
<div id="chart-searches" class="chart"></div>
{% endif %}

{% if monthly_stats %}
<h3>Searches per month</h3>
<table class="table">
  {% for m in monthly_stats %}
  <tr>
    <td>{{ m.month.strftime('%B %Y') }}</td>
    <td class="text-right">{{ m.lookups }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}

{% block extra_css %}
{% if lookups %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/{{ morris_js_version }}/morris.css">
{% endif %}
{% endblock %}

{% block extra_js %}
{% if lookups %}
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/{{ raphael_js_version }}/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/{{ morris_js_version }}/morris.min.js"></script>
<script>
$(document).ready(function() {

  new Morris.Line({
    element: 'chart-searches',
    data: {{ lookups_json|safe }},
    xkey: 'date',
    ykeys: ['count', 'count_hits', 'count_nohits'],
    xLabels: 'day',
    xLabelFormat: function (x) { return x.toDateString(); },
    labels: ['All', 'Hits', 'Misses'],
    lineColors: ['#4572A7', '#AA4643', '#89A54E', '#80699B', '#3D96AE', '#DB843D', '#92A8CD', '#A47D7C', '#B5CA92'],
    hideHover: 'auto',
    resize: true
  });

});
</script>
{% endif %}
{% endblock %}
